body {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  padding-top: 3%;
}

.label {
  font-size: 20px;
}

.sendButton{
    padding: 10%;
    font-size: 15px;
}