.nav-style {
  display: flex;
  background-color: rgba(0, 0, 255, 0.636);
  gap: 50px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 10px 20px 1px rgba(128, 128, 128, 0.71);
}

.nav-style:hover {
  background-color: blue;
}

.li-style {
  font-size: 40px;
  list-style: none;
  text-align: center;
}

.a-style {
  color: black;
  text-decoration: none;
}

.a-style:hover {
  color: white;
}
